@font-face {
    font-family: "Evolve Sans";
    src: url("../css/font/MADEEvolveSans-Bold.eot");
    src: url("../css/font/MADEEvolveSans-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("../css/font/MADEEvolveSans-Bold.woff2") format("woff2"),
        url("../css/font/MADEEvolveSans-Bold.woff") format("woff"),
        url("../css/font/MADEEvolveSans-Bold.ttf") format("truetype"),
        url("../css/font/MADEEvolveSans-Bold.svg#MADEEvolveSans-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Evolve Sans";
    src: url("../css/font/MADEEvolveSans-Medium.eot");
    src: url("../css/font/MADEEvolveSans-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("../css/font/MADEEvolveSans-Medium.woff2") format("woff2"),
        url("../css/font/MADEEvolveSans-Medium.woff") format("woff"),
        url("../css/font/MADEEvolveSans-Medium.ttf") format("truetype"),
        url("../css/font/MADEEvolveSans-Medium.svg#MADEEvolveSans-Medium")
            format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Blacker Display";
    src: url("../css/font/BlackerDisplay-Medium.eot");
    src: url("../css/font/BlackerDisplay-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("../css/font/BlackerDisplay-Medium.woff2") format("woff2"),
        url("../css/font/BlackerDisplay-Medium.woff") format("woff"),
        url("../css/font/BlackerDisplay-Medium.ttf") format("truetype"),
        url("../css/font/BlackerDisplay-Medium.svg#BlackerDisplay-Medium")
            format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Evolve Sans";
    src: url("../css/font/MADEEvolveSans-Light.eot");
    src: url("../css/font/MADEEvolveSans-Light.eot?#iefix")
            format("embedded-opentype"),
        url("../css/font/MADEEvolveSans-Light.woff2") format("woff2"),
        url("../css/font/MADEEvolveSans-Light.woff") format("woff"),
        url("../css/font/MADEEvolveSans-Light.ttf") format("truetype"),
        url("../css/font/MADEEvolveSans-Light.svg#MADEEvolveSans-Light")
            format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
